main ul {
	display: flex;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	margin: 1rem;
}

main li {
	display: flex;
	flex-direction: row-reverse;
	background: #272626;
	border-radius: 1rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: #eee;
	max-width: 40rem;
}

main li > section,
main li > img {
	padding: 1rem;
}

main ul > li > section.info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main ul > li > img {
	aspect-ratio: 8/5;
}

.checkout {
	display: flex;
	gap: 2rem;
	flex-direction: column;
	min-width: 20rem;
	height: 15rem;
	background: #272626;
	border-radius: 1rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	align-items: center;
	justify-content: center;
	margin: 1rem;
}

.checkout a,
.checkout button {
	color: #eee;
	text-decoration: none;
	padding: 1rem;
	background-color: rgb(43, 99, 4);
	border-radius: 1rem;
	border: 0;
	font-size: 1.75rem;
}
