main {
	display: flex;
	flex-direction: column;
}

.basket {
	padding-bottom: 1em;
}

.basket ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.basket li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1em;
	border-radius: 0.5em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.basket li > section {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	gap: 2em;
	position: relative;
}

.basket li > section .info {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	position: relative;
}

.info p.price {
	font-weight: bold;
	font-size: 1.2rem;
}

.info a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	line-height: 0;
	font-size: 0;
	color: transparent;
}

.basket li form {
	padding: 0 0 0 1em;
}

.basket li form .hidden-submit {
	display: none;
}

.basket li form svg {
	cursor: pointer;
	color: var(--destroy-error-color);
}

.basket img {
	height: 5em;
	aspect-ratio: 5/4;
	display: block;
	object-fit: cover;
	border-radius: 0.5em;
}

.checkout {
	display: flex;
	gap: 0.5em;
	padding-bottom: 1em;
}

.checkout input {
	background: var(--foreground-color);
	color: var(--text-color);
	padding: 1em 2em;
	border: 0;
	font-size: 0.875rem;
	border-radius: 0.5em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.checkout a {
	background: var(--foreground-color);
	color: var(--text-color);
	padding: 1em 2em;
	font-size: 0.875rem;
	border-radius: 0.5em;
	text-decoration: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 395px) {
	.basket li {
		flex-direction: column;
		justify-content: center;
	}

	.basket li > section {
		flex-direction: column-reverse;
		text-align: center;
	}

	.basket img {
		height: 7.5em;
	}

	.basket li form {
		padding: 1em 0 0 0;
	}

	.checkout {
		flex-direction: column;
		align-items: center;
	}
}
