/*naast elkaar plaatsen van de cards en knoppen*/
.containement{
    display: flex;
}


/*cards waar items instaan*/
.cardafrekenen{
    display: flex;
    flex-direction: row-reverse;
    border: #232323 solid 5px;
    border-radius: 1rem;
    background-color: #eee;
    color: #232323;
    max-width: 40rem;
}

main ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0 1rem;
    flex-wrap: wrap;
}

.prijs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardafrekenen > *{
    padding: 1rem;
}

.cardafrekenen img{
    aspect-ratio: 8/5;
}


/*Afrekenen en Verder Winkelen knoppen*/
.afrekenen {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    min-width: 20rem;
    height: 15rem;
    background-color: #eee;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
}

.afrekenen a{
    color: #eee;
    text-decoration: none;
    padding: 1rem;
    background-color: rgb(43, 99, 4);
    border-radius: 1rem;
}